<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>

    <p>Please Login Here</p>

    <form action="/login" method="post">
        <label for="name">User Name</label>
        <input type="text" name="name" id="">

        <button type="submit">Log IN</button>
    </form>
    
    <p>{{ user_response }}</p>
    
</body>
</html>
</html>